.app {
  background-color: #121212;
  min-height: 100vh;
  padding: 24px;
  color: #fff;
  font-family: sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}


.title {
  text-align: center;
  font-size: 48px;
  color: #1db954;
  margin-bottom: 24px;
}

.title span {
  color: #fff;
}

.content {
  display: flex;
  gap: 24px;
}